/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Estilos para o componente App */
.App {
  text-align: center;
  padding-top: 20px;
}

/* Personalize a barra de navegação */
.navbar {
  background-color: #333;
}

.navbar-dark.bg-custom {
  background-color: #3C096C!important;
}

.navbar.navbar-brand {
  color: white;
}

/* Estilos para o conteúdo principal */
.main-content {
  padding: 20px;
}

.course-title {
  text-align: center;
  margin-top: 10px; /* Espaçamento entre a logo e o título */
  margin-bottom: 20px; /* Espaçamento entre o título e o vídeo */
}

/* Estilo da imagem */
img {
  width: 100px; /* Altura ou largura do contêiner */
  object-fit: cover; /* Ajusta a imagem para cobrir completamente o contêiner */
  margin: auto;
}

.navbar .course-title {
  color: black; /* Define a cor do título como  */
  font-size: 28px; /* Define o tamanho da fonte do título */
  font-weight: bold; /* Define o peso da fonte como negrito */
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) { /* Estilos para telas menores que 768px */
  .container {
    max-width: 90%;
  }
  .col-md-8, .col-md-4 {
    width: 100%;
  }
  .video-player {
    height: 300px; 
  }
  .course-title {
    font-size: 1.5em; /* Ajuste o tamanho da fonte */
  }
}
